body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: blue;
}
nav {
    font-size: 1.5em;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}


  @media (max-width:650px){
    h1{
        font-size: 4em;
        color: green;
    }
  }